<h1 mat-dialog-title>Timesheet Entry</h1>
<div mat-dialog-content>
    <div fxLayout="column" style="margin:50px">

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center" style="width: 100%;">
            <mat-form-field appearance="fill">
                <mat-label>Project</mat-label>
                <input matInput [(ngModel)]="timesheet.project">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center" style="width: 100%;">
            <mat-form-field appearance="fill">
                <mat-label>Task</mat-label>
                <input matInput [(ngModel)]="timesheet.task">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center" style="width: 100%;" fxLayoutGap="20px">
            <mat-form-field>
                <mat-label>Date From</mat-label>
                <input matInput [matDatepicker]="dateFrom" [(ngModel)]="timesheet.dateFrom">
                <mat-datepicker-toggle matIconSuffix [for]="dateFrom"></mat-datepicker-toggle>
                <mat-datepicker #dateFrom></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Date To</mat-label>
                <input matInput [matDatepicker]="dateTo" [(ngModel)]="timesheet.dateTo">
                <mat-datepicker-toggle matIconSuffix [for]="dateTo"></mat-datepicker-toggle>
                <mat-datepicker #dateTo></mat-datepicker>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center" style="width: 100%;">
            <mat-form-field appearance="fill">
                <mat-select [(ngModel)]="timesheet.statusId">
                    <mat-option *ngFor="let status of statuses" [value]="status.id">
                        {{status.name}}
                    </mat-option>
                </mat-select>
                <mat-label>Status</mat-label>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center" style="width: 100%;">
            <mat-form-field appearance="fill">
                <mat-select [(ngModel)]="timesheet.assignUserId">
                    <mat-option *ngFor="let user of users" [value]="user.id">
                        {{user.name}}
                    </mat-option>
                </mat-select>
                <mat-label>Assign To</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <button mat-stroked-button (click)="onSave()" color="primary">Save</button>
            <button mat-stroked-button (click)="onClose()">Close</button>
        </div>

    </div>
</div>