/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fullscreen-dialog {
    /* max-width: 70% !important;
    max-height: 70% !important;
    width: 70%;
    height: 70%;
    align-items: center;
    justify-content: center; */
}