<div fxLayout="row" style="margin-top: 100px">
    <div fxFlex></div>
    <div fxLayout="column" fxFlex="90" fxLayoutAlign="center center">
        <p> Timesheet </p>

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" style="width: 100%;">
            <mat-form-field appearance="fill" style="width:100%">
                <mat-label>Task</mat-label>
                <input [(ngModel)]="taskInput" name="taskInput" matInput>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <button mat-stroked-button color="primary" (click)="onSearch()">Search</button>
            <button mat-stroked-button (click)="openDialog()">Create</button>
        </div>

        <div fxLayout="row " fxLayoutAlign="center center " style="width: 100%; " style="margin-top: 50px; width:100% ">
            <table mat-table [dataSource]="timesheet_DS" class="mat-elevation-z8">

                <ng-container matColumnDef="project">
                    <th mat-header-cell *matHeaderCellDef> Project </th>
                    <td mat-cell *matCellDef="let element"> {{element.project}} </td>
                </ng-container>

                <ng-container matColumnDef="task">
                    <th mat-header-cell *matHeaderCellDef> Task </th>
                    <td mat-cell *matCellDef="let element"> {{element.task}} </td>
                </ng-container>

                <ng-container matColumnDef="assignedTo">
                    <th mat-header-cell *matHeaderCellDef> Assigned To </th>
                    <td mat-cell *matCellDef="let element"> {{element.assignedTo.name}} </td>
                </ng-container>

                <ng-container matColumnDef="dateFrom">
                    <th mat-header-cell *matHeaderCellDef> From </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateFrom}} </td>
                </ng-container>

                <ng-container matColumnDef="dateTo">
                    <th mat-header-cell *matHeaderCellDef> To </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateTo}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status.name}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action</th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayout="row" fxLayoutGap="5px">
                            <button mat-button color="primary" (click)="onEdit(element)">Edit</button>
                            <button mat-button color="warn" (click)="onDelete(element.id)">Delete</button>
                        </div>
                    </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="timesheet_columns"></tr>
                <tr mat-row *matRowDef="let row; columns: timesheet_columns;"></tr>
            </table>
        </div>
    </div>
    <div fxFlex></div>
</div>